<!-- left side navigator -->
<div style="float:left; width: 160px;">
  <div id="nav"></div>
</div>

<!-- calendar div -->
<div style="margin-left: 160px;">
  <div id="dp"></div>
</div>


<!-- main calendar creation script -->
    <script type="text/javascript">
        // get current date
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;

        // SIDE NAVIGATOR
        var nav = new DayPilot.Navigator("nav");
        nav.showMonths = 3;
        //nav.skipMonths = 3;
        nav.selectMode = "month";
        nav.init();

        // create new display calendar
        var dp = new DayPilot.Month("dp");

        // set display template
        dp.cssClassPrefix = "month_transparent";

        // set view to current month
        dp.startDate = today; // "2018-03-25";

        // move event

        // resize event

        // create event
        // -----------------------------------------------------------------------------------------------------
        //var e = new DayPilot.Event({
        //    start: args.start,
        //    end: args.end,
        //    id: DayPilot.guid(),
        //    resource: args.resource,
        //    text: name
        //});
        //dp.events.add(e);

        // initialize calendar
        dp.init();

        // load events from database
        loadEvents();

        // define loadEvents JS function
        function loadEvents() {
            // set local variables to pass in POST request using DP accessors
            var start = dp.visibleStart();
            var end = dp.visibleEnd();

            // REPLACE ----------------------------------------------------------------------------
            $.post(
                // URL to POST to
                "backend_events.php",
                // {} data set to send in request
                {
                    start: start.toString()
                    , end: end.toString()
                },
                // function to perform once data is received back
                function(data) {
                    //console.log(data);
                    // send received data to dp receiver
                    dp.events.list = data;
                    // run calendar update
                    dp.update();
                }
            )
        }

    </script>

