{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

    <!-- check user authentication and display proper page -->
    {% if user.is_authenticated %}
        <!-- if user is logged in with admin roles, load RW (read-write) calendar -->
        {% include "app/calendar-rw.html" %}

        <!-- if user is logged in with facebook user creds, load RO (read only) calendar -->
        {% else %}
            {% include "app/calendar-rw.html" %} <!-- CHANGE TO RO WHEN FINISHED !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

    {% endif %}
    

{% endblock %}