{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <!-- daypilot libraries -->
    <script src="{% static 'app/scripts/daypilot-all.min2.js' %}"></script>

    <!-- daypilot themes -->
	<link type="text/css" rel="stylesheet" href="../themes/month_white.css" />
</head>

<body>

    <div id="dp"></div>

    <script type="text/javascript">
        // get current date
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd = '0'+dd
        } 

        if(mm<10) {
            mm = '0'+mm
        } 
        today = yyyy + '-' + mm + '-' + dd;

        // create new display calendar
        var dp = new DayPilot.Month("dp");

        // set view to current month
        dp.startDate = today; // "2018-03-25";

        // move event

        // resize event

        // create event


        // initialize calendar
        dp.init();
    </script>
    

</body>
</html>