{% extends "app/layout.html" %}

{% load staticfiles %}
{% load widget_tweaks %}
{% load append_ast_if_req %}

{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    {{ form.media }}

<style>
.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
    text-align: center;
    border-radius: 0;
    background-color: white;
}
</style>
{% endblock %}

{% block content %}

    <h1 class="text-uppercase">Create a New Event</h1>
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="POST">
            {% csrf_token %}
    
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="form-group">
                    <label for=" {{ form.name.id_for_label }}">{{ form.name | append_ast_if_req }}:</label>
                    {{ form.name|add_class:'form-control' }}
                    <span class="help-block">{{ error }}</span>
                </div>

                <div class="form-group">
                    <label for=" {{ form.description.id_for_label }}">{{ form.description | append_ast_if_req }}:</label>
                    {{ form.description|add_class:'form-control' }}
                    <span class="help-block">{{ error }}</span>
                </div>

                <div class="form-group">
                    <label for=" {{ form.address.id_for_label }}">{{ form.address | append_ast_if_req }}:</label>
                    {{ form.address|add_class:'form-control' }}
                    <span class="help-block">{{ error }}</span>
                </div>

                <!-- if user is district or site admin, let them select a district -->
                {% if permissions >= 0 %}
                <div class="form-group">
                    <label for=" {{ form.district.id_for_label }}">{{ form.district | append_ast_if_req }}:</label>
                    {{ form.district|add_class:'form-control' }}
                    <span class="help-block">{{ error }}</span>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for=" {{ form.date_start.id_for_label }}">{{ form.date_start | append_ast_if_req }}:</label>
                            <div class="input-group mb-3">
                                {{ form.date_start|add_class:'form-control' }}
                                <span class="help-block">{{ error }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for=" {{ form.date_end.id_for_label }}">{{ form.date_end | append_ast_if_req }}:</label>
                            <div class="input-group mb-3">
                                {{ form.date_end|add_class:'form-control' }}
                                <span class="help-block">{{ error }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for=" {{ form.event_type.id_for_label }}">{{ form.event_type | append_ast_if_req }}:</label>
                    {{ form.event_type|add_class:'form-control' }}
                    <span class="help-block">{{ error }}</span>
                </div>

                <div class="form-group">
                    <label for=" {{ form.payment_url.id_for_label }}">{{ form.payment_url | append_ast_if_req }}:</label>
                    {{ form.payment_url|add_class:'form-control' }}
                    <span class="help-block">{{ error }}</span>
                </div>

                <div class="form-group">
                    <label for="{{ form.primary_contact_name.id_for_label }}">{{ form.primary_contact_name | append_ast_if_req }}:</label>
                    {{ form.primary_contact_name|add_class:'form-control' }}
                    <span class="help-block">{{ error }}</span>
                </div>

                <div class="form-group">
                    <label>Contact Type:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="primary_contact_info_type1" id="primary_contact_info_type1" value="1">
                        <i class="fas fa-envelope"></i>
                        <label class="form-check-label" for="primary_contact_info_type1">Email</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="primary_contact_info_type2" id="primary_contact_info_type2" value="2">
                        <i class="fas fa-phone"></i>
                        <label class="form-check-label" for="primary_contact_info_type1">Phone</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for=" {{ form.primary_contact_info.id_for_label }}">Contact Information:</label>
                    <input type="text" name="primary_contact_info" maxlength="255" class="form-control" required="" id="id_primary_contact_info" placeholder="(123) 333-4445 or me@email.com">
                    <span class="help-block">{{ error }}</span>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>


    <div class="col">
    </div>

{% endblock %}


{% block scripts %}
<!-- autocomplete on type in search box -->
<script>
    function init() {
        var input = document.getElementById('locationTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', init);
</script>

{% endblock %}