{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

<div class="wrapper-trans">

    {% if eventlist %}
    <ul>
    {% for event in eventlist %}
        <li>{{ event.name }} - <a class="btn btn-primary" id="about-btn" href="/event/{{event.id}}" role="button">Link</a></li>
        <li><button id="about-btn">Click</button></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No events are available.</p>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
    $("#about-btn").click(function (event) {
        alert("You clicked the button using JQuery!");
    });
});
</script>

{% endblock %}