{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

    <h1>{{ event.name }}</h1>
    
    <!-- IMAGE TO MATCH EVENT TYPE ###################################################
        <img src="{{ event.event_type_image }}"

        -->

    <p><strong>Description: </strong>{{ event.description }}</p>
    <p><strong>Category: </strong>{{ event.event_type}}</p>
    <p><strong>Start Date: </strong>{{ event.date_start}}</p>
    <p><strong>End Date: </strong>{{ event.date_end }}</p>
    <p><strong>Address: </strong>ADDRESS DATA HERE</p>
        <!-- PAYMENT LINK NOT SHOWING ############################################################### -->
    <p><strong>Payment: </strong><a href="{{ event.payment_link}}">{{ event.payment_link }}</a></p>
    <p><strong>Primary Contact: </strong>{{ event.primary_contact_ID}}</p>

{% endblock %}
