{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome to the Trail Life USA<br />Online Adventure Finder</h1>


    {% if request.user.is_authenticated %}
        <p></p>
        <h3 class="centered">Welcome back, {{ request.user.username.capitalize }}!</h3>
    {% elif messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successful Registration!</strong> Your account has been created. Please <a href="/login" class="alert-link">login</a> to continue.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        
    {%else%}
        <p></p>
        <p class="centered">You must be a registered user to access this site.<br />Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to continue.</p>
    {% endif %}
    
    
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-deck">
            <div class="card text-center">
                <a href="events"><img class="card-img-top" src="{% static "app/img/calendar_01.jpg" %}" alt="Calendar"></a>
                <div class="card-body">
                <h5 class="card-title">Calendar</h5>
                <p class="card-text">See upcoming events for the current month. Events are listed by date.</p>
                <a href="events" class="btn btn-primary">View Calendar</a>
                </div>
            </div>
            <div class="card text-center">
                <a href="search"><img class="card-img-top" src="{% static "app/img/list.jpg" %}" alt="Upcoming"></a>
                <div class="card-body">
                <h5 class="card-title">List of Events</h5>
                <p class="card-text">Browse a list of all upcoming events by event type or by district.</p>
                <a href="upcoming" class="btn btn-primary">List </a>
                </div>
            </div>
            <div class="card text-center">
                <a href="search"><img class="card-img-top" src="{% static "app/img/search_01.jpg" %}" alt="Search"></a>
                <div class="card-body">
                <h5 class="card-title">Find an Event</h5>
                <p class="card-text">Looking for something in particular? Search for a specific event or filter by region, category, or date.</p>
                <a href="search" class="btn btn-primary">Search </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

{% endblock %}
