{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

<div class="jumbotron-wrapper">
<div class="jumbotron">
    <h1>Trail Life USA</h1>
    <p class="lead">Welcome to the Trail Life USA online event calender! Please login to continue.</p>
    <p><a href="login" class="btn btn-primary btn-large">Login</a></p>
    <p><a href="loginfb"><img src="{% static "app/img/fb1.png" %}" alt="Login with Facebook" width="250px"/></a></p>
</div>
</div>



<!--  PREFAB THREE BUTTON CONTENT
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

-->

{% endblock %}
