{% load staticfiles %}
{% load in_group %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} - OAF</title>   
    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.4.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/headerlogin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">

    {% block head %}
    {% endblock %}

</head>

<body id="index">

    <!-- insert navbar -->
    {% include 'app/navbar.html' %}

    <div class="container">

        <!-- MAIN CONTENT BLOCK HERE -->
        {% block content %}
        {% endblock %}

    </div>

    <!-- insert footer -->
    {% include 'app/footer.html' %}

    <!-- <script src="{% static 'app/scripts/jquery-3.3.1.min.js' %}"></script>-->
    
    <script src="{% static 'app/scripts/bootstrap.bundle.4.min.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-ui.1.12.1.min.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/site.js' %}"></script>

    {% block scripts %}

    {% endblock %}

</body>
</html>
