<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Online Adventure Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home navbar-fas"></i>Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tree navbar-fas"></i>Events</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'events' %}"><i class="fas fa-calendar-alt navbar-fas"></i>Calendar</a>
                        <a class="dropdown-item" href="{% url 'upcoming' %}"><i class="fas fa-th-list navbar-fas"></i>List</a>
                    </div>
                    </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search' %}"><i class="fas fa-search navbar-fas"></i>Search</a></li>
                <!-- CHECK IF USER HAS PERMISSIONS BEFORE LINKING TO CREATE EVENT PAGE -->
                {% if user.is_authenticated and request.user.profile.get_permissions > 1 %} 
                    <li class="nav-item"><a class="nav-link" href="{% url 'create' %}"><i class="fas fa-plus-circle navbar-fas"></i>Create</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, {{ request.user.username.capitalize }}!</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                    </div>
                </li>
			{% else %}
			    <li class="nav-link"><a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-user-plus navbar-fas"></i>Sign Up</a></li>
			    <li class="nav-link"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt navbar-fas"></i>Login</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav> <!-- end navbar -->