{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}
<div class="wrapper-trans">

{% if request.user.is_authenticated %}
<div class="row">
    <div class="col">
        <h1 class="text-center">Search</h1>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <form method="GET">
            {% csrf_token %}
            {{ filter.as_p }}
            <p>{{ form.fieldname.errors.as_text }}</p>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search navbar-fas"></i>Search
            </button>
        </form>
        <a href="search" class="btn btn-primary"><i class="fas fa-times-circle navbar-fas"></i>Reset Filters</a>
    </div>
    <div class="col">
        <!-- display the calender -->
        {{ month_table }}
    </div>
</div>

<!-- not logged in display error -->
{% else %}
<div class="col">
    {% include "app/authentication_error.html" %}
</div>
{% endif %}
</div>
{% endblock %}