{% extends "app/layout.html" %}

{% load staticfiles %}
{% load truncatesmart %}

{% block head %}

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>Search Events</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ filter.as_p }}
        <button class="searchbutton" type="submit">
            <i class="material-icons">search</i>
        </button>
    </form>

</div>

<div class="container">
    <h1>List of events</h1>

    <table class="striped highlight">
        <thead>
            <tr>
                <td>Category</td>
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>

        <tbody>
            {% for event in filter %}
                <tr>
                    <td>{{ event.category }}</td>
                    <td><a href="/event/{{event.id}}">{{ event.name }}</a></td>
                    <td>{{ event.description|truncatesmart:90 }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Calendar with filtered events</h1>
    <p></p>

    <!-- display the calender -->
    {{ month_table }}
</div>

{% endblock %}