{% extends "app/layout.html" %}

{% load staticfiles %}
{% load truncatesmart %}

{% block content %}




<div class="row">
    <h1>Search</h1>
</div>

<div class="row">
    {% if request.user.is_authenticated %}
    <div class="col-md-4">
        <form method="GET">
            {% csrf_token %}
            {{ filter.as_p }}
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i> Search
            </button>
        </form>
        <a href="search" class="btn btn-primary"><i class="fas fa-times-circle"></i> Reset Filters</a>
    </div>
    <div class="col-md-8">
            <!-- display the calender -->
            {{ month_table }}
    </div>

    <!-- default login display error -->
    {% else %}
    <div class="row">
        {% include "app/authentication_error.html" %}
    </div>
    {% endif %}
</div>
{% endblock %}