{% extends "app/layout.html" %}

{% load staticfiles %}
{% load truncatesmart %}

{% block head %}

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>Search Events</h1>
    </div>


    <form id="searchform" action="{% url 'search2' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="material-icons">search</i>
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
    </form>

{% endblock %}