
{% autoescape off %}
<td class="{{ css_class }}">
   <div style="min-height:106px;">
            <div class="day-header">
                <div class="{{ css_class }} day-number">{{ day|default:"&nbsp;" }}</div>
            </div>
                
                <div class="day-content">
                    {% if events_str %}
                        <!-- <div class="event-inner"> -->
                            {{ events_str }}
                    {% else %}
                    {% endif %}
                </div> 
    </div>
</td>

{% endautoescape %}