{% load relative_url %}

<table class="calHeader" style="width:100%">
    <tbody>
        <tr>
            <td class="header-left">
                <span class="header-title">
                </span>
            </td>
            <td class="header-center">
                    <h2>{{ month_name_row }}</h2>
            </td>
            <!-- MONTH NAVIGATION LINKS IN HEADER CORNER -->
            <td class="header-right">
                {% with params=request.GET.urlencode %}
                <!-- --------------------------- PREVIOUS MONTH -------------------------------- -->
                <a href="?month={{ monthMM }}&year={{ yearMM }}">
                    <div class="button button-prev default corner-left" unselectable="on">
                        <div class="left-arrow">Previous <</div>
                    </div>
                </a>
                <!-- --------------------------- NEXT MONTH -------------------------------- -->
                <a href="?month={{ monthPP }}&year={{ yearPP }}">
                    <div class="button button-next default corner-right" unselectable="on">
                        <div class="right-arrow">> Next</div>
                    </div>
                </a>
                {% endwith %}
            </td>
        </tr>
    </tbody>
    
</table>
<table class="month oafcal" style="width:100%" cellspacing="0">
    <thead>
        <tr>
		    {{ week_header_row }}
        </tr>
	</thead>
	<tbody>
        
	        {% for week in week_rows %}
		        {{ week }}
	        {% endfor %}
            
	</tbody>
</table>
