html {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
    background-color: transparent;
    padding: 0;
}

.container .jumbotron {
    padding: 0;
}

.alert-box {
    padding: 2rem 0;
}

/*CALENDAR TABLES CSS*/

.oafcal {
    color: black;
    display: grid;
    border: 5px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: -2px 3px 5px 2px lightblue;
    background: rgba(201, 208, 208, 0.60);
}

    .oafcal thead {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bold;
    }

/********MONTH TITLE CSS********/
.oafcalMonth {
    max-width: 100%;
    text-align: center;
    color: black;
}

/********************/

.oafcal tbody {
    display: grid;
    grid-auto-rows: 100px;
    border-top: 1px solid #e1e1e1;
    font-size: 1.0em;
    font-weight: bold;
}

.oafcal tr {
    display: grid;
    grid-template-columns: repeat(7, 7fr);
}

.oafcal td {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

    .oafcal td a {
        color: black;
    }

.oafcal th {
    text-align: center;
}

.border-right {
    border-right: 1px solid #e1e1e1;
}

.highlighted {
    background-color: lightblue;
    box-shadow: 1px 2px 5px #99999a;
}

    .highlighted p {
        background-color: #009bff;
        border-radius: 20px;
        margin-top: 5px;
        font-size: 20px;
        width: 28px;
        box-shadow: 1px 2px 5px #99999a;
    }

/**********HEADER LOGIN FORM**************/
#loginForm {
    background-color: white;
    width: 500px;
    float: right;
}

.navbar-right {
    margin-top: 0;
}