{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
  {% if validlink %}
    <div class="login-form">
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <h2 class="text-center">Change password</h2>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
            </div>
            {{ form.new_password1 }}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
            </div>
            {{ form.new_password2}}
            {{form.new_password2.errors}}
        </div>

        <div class="form-group">
                <input type="hidden" name="next" value="/" />
                <!---<input type="submit" value="Log in" class="btn btn-default" />-->
                <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
        </div>
        {% if form.errors %}
            
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

        {% if form.errors %}
            <p class="validation-summary-errors">Please enter a correct user name and password.</p>
        {% endif %}

    </form>
</div>

  {% else %}
        <div class="alert alert-danger" role="alert">
          <strong>Sorry!</strong>  The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
        </div>
    
  {% endif %}
{% endblock %}

